<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wql.poetry.dao.PoetryDao">

    <!--新增诗词-->
    <insert id="insertPoetry" parameterType="com.wql.poetry.model.PoetryEntity" useGeneratedKeys="true" keyProperty="poetry_id" keyColumn="poetry_id">
        insert into poetry_table(poetry_id,name, author, content, addition_info, class_info,class_info_explain, main_class,main_class_explain, source,source_explain, transfer_info,likes)
        values (
        #{poetry_id,jdbcType=INTEGER},
        #{name,jdbcType=CHAR},
        #{author,jdbcType=CHAR},
        #{content,jdbcType=CHAR},
        #{addition_info,jdbcType=CHAR},
        #{class_info,jdbcType=CHAR},
        #{class_info_explain,jdbcType=CHAR},
        #{main_class,jdbcType=CHAR},
        #{main_class_explain,jdbcType=CHAR},
        #{source,jdbcType=CHAR},
        #{source_explain,jdbcType=CHAR},
        #{transfer_info,jdbcType=CHAR},
        #{likes,jdbcType=INTEGER}
        )
    </insert>

    <!--更新诗词信息-->
    <update id="updatePoetry" parameterType="com.wql.poetry.model.PoetryEntity">
        update poetry_table
        set
        poetry_id = #{poetry_id}
        <if test="name != null">,name=#{name}</if>
        <if test="author != null">,author = #{author}</if>
        <if test="content != null">,content = #{content}</if>
        <if test="content != null">,content = #{content}</if>
        <if test="addition_info != null">,addition_info = #{addition_info}</if>
        <if test="class_info != null">,class_info = #{class_info}</if>
        <if test="class_info_explain != null">,class_info_explain=#{class_info_explain}</if>
        <if test="main_class != null">,main_class=#{main_class}</if>
        <if test="main_class_explain != null">,main_class_explain=#{main_class_explain}</if>
        <if test="source != null">,source=#{source}</if>
        <if test="source_explain != null">,source_explain=#{source_explain}</if>
        <if test="transfer_info != null">,transfer_info=#{transfer_info}</if>
        <if test="background_info != null">,background_info=#{background_info}</if>
        <if test="analyses_info != null">,analyses_info=#{analyses_info}</if>
        <if test="likes != null">,likes=#{likes}</if>
        where poetry_id=#{poetry_id}
    </update>

    <!--首页的热门诗词-->
    <select id="findHotPoetry" resultMap="PoetryDetailMap">
        select
        poetry_id,name,author,content,likes,pt.class_info,bt.class_info,bt.image_base_url,bt.origin_url,class_info_explain,main_class,main_class_explain,source,source_explain,text_color
        from
        poetry_table pt
        left join
        bgImage_table bt
        on pt.class_info = bt.class_info
        where 1=1
        order by likes desc
        limit #{from_index},#{count}
    </select>

    <!--搜索收藏的诗词-->
    <select id="findLikePoetry" resultType="com.wql.poetry.model.LikePoetryEntity">
        select * from like_poetry_table
        where user_id=#{user_id} and poetry_id=#{poetry_id}
        limit 1
    </select>


    <!--收藏诗词-->
    <insert id="likePoetry" parameterType="com.wql.poetry.model.LikePoetryEntity" useGeneratedKeys="true" keyProperty="like_id" keyColumn="like_id">

        insert into like_poetry_table(user_id, poetry_id, create_time)
        values (
        #{user_id,jdbcType=INTEGER},
        #{poetry_id,jdbcType=INTEGER},
        #{create_time,jdbcType=CHAR}
        )
    </insert>

    <!--取消收藏诗词-->
    <delete id="dislikePoetry" parameterType="int">
        delete from like_poetry_table
        where
        user_id=#{user_id} and poetry_id=#{poetry_id}
    </delete>

    <!--获取到全部的诗词总配置-->
    <select id="findAllPoetryConfigure" resultType="com.wql.poetry.model.PoetryConfigureEntity">
        select * from poetry_configure_table
    </select>


    <!--获取到对应主分类的全部诗词 不含翻译-->
    <select id="findPoetryWithMainClass" resultMap="PoetryDetailMap">
        select
        poetry_id,name,author,content,likes,pt.class_info,bt.class_info,bt.image_base_url,bt.origin_url,class_info_explain,main_class,main_class_explain,source,source_explain,text_color
        from
        poetry_table pt
        left join
        bgImage_table bt
        on pt.class_info = bt.class_info
        where pt.main_class = #{main_class}
        order by pt.poetry_id desc
    </select>

    <!--获取到论语主分类的全部诗词 包含翻译-->
    <select id="findLunyuWithMainClass" resultMap="PoetryDetailMap">
        select
        poetry_id,name,author,content,likes,class_info,class_info_explain,main_class,main_class_explain,source,source_explain,text_color,transfer_info
        from
        poetry_table
        where main_class = #{main_class}
        order by poetry_id desc
    </select>

    <resultMap id="PoetryDetailMap" type="com.wql.poetry.model.PoetryDetailEntity">


        <result column="poetry_id" property="poetry_id"/>
        <result column="name" property="name"/>
        <result column="author" property="author"/>
        <result column="content" property="content"/>
        <result column="addition_info" property="addition_info"/>
        <result column="class_info" property="class_info"/>
        <result column="main_class" property="main_class"/>
        <result column="source" property="source"/>
        <result column="source_explain" property="source_explain"/>
        <result column="transfer_info" property="transfer_info"/>
        <result column="likes" property="likes"/>
        <result column="text_color" property="text_color"/>

        <association property="imageEntity" javaType="com.wql.poetry.model.ImageEntity">
            <result column="image_url" property="image_url"/>
            <result column="class_info" property="class_info"/>
            <result column="image_base_url" property="image_base_url"/>
            <result column="thumb_url" property="thumb_url"/>
            <result column="origin_url" property="origin_url"/>

        </association>
    </resultMap>


    <!--获取到搜索关键词的全部诗词-->
    <select id="findPoetryWithKeywordAndPage" resultMap="PoetryDetailMap">
        select
        poetry_id,name,author,content,likes,bt.class_info,pt.class_info,bt.image_base_url,bt.origin_url,class_info_explain,main_class,main_class_explain,source,source_explain,text_color
        from
        poetry_table pt
        left join
        bgImage_table bt
        on pt.class_info = bt.class_info
        <where>
            pt.name like CONCAT('%',#{keyword},'%')
            or pt.author like CONCAT('%',#{keyword},'%')
            or pt.content like CONCAT('%',#{keyword},'%')
        </where>
        order by pt.poetry_id desc
        limit #{from_index},#{count}
    </select>


    <!--根据poetry_id 和 count来搜索诗词-->
    <select id="findPoetryWithLimit" resultType="com.wql.poetry.model.PoetrySimpleEntity">
        select name,author,content from
        poetry_table
        where poetry_id >= #{poetry_id}
        order by poetry_id asc
        limit #{from_index},#{count}
    </select>

    <select id="loadPoetryAnalyses" resultType="com.wql.poetry.model.PoetryAnalysesEntity">
        select poetry_id,addition_info,transfer_info,analyses_info,background_info from
        poetry_table
        where  poetry_id = #{poetry_id}
    </select>
</mapper>